[Desktop Entry]
Version=1.0
Name=Super long name which should wrap on multiple lines
Exec=dolphin
Icon=/usr/share/wallpapers/Next/contents/images/1024x768.png
